.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}


.container .text{
    width: 85%;
    margin: 30px 0;
}
.container .text h1{
    font-size: 45px;
}
.container .text p{
    font-size: 16px;
    color: #313130 ;
}
.container .type{
    width: 85%;

}
.container .type h1{
    font-size: 45px;
}
.container .type p{
    font-size: 16px;
}
.container .type li{
    font-size: 16px;
    color: #313130 ;
    list-style-type: disc;
    display: list-item;
}
@media (max-width: 900px){
    .container .text{
        width: 100%;
        margin: 30px 0;
    }
    .container .type{
        width: 100%;
    
    }
  }
  @media (max-width: 400px){
    .container .text h1{
        font-size: 35px;
    }
    .container{
        padding: 30px 30px;
    }
  }