.top{
    position: relative;
}
@media (max-width: 700px) {
  .top {
    padding: 1.2rem 0.5rem 1rem 0.5rem;
    max-width: 98vw;
  }
  .section {
    padding: 1rem 0.5rem 0.7rem 0.5rem;
  }
  blockquote {
    font-size: 1rem;
    padding: 0.7rem 0.5rem;
  }
}
