.goals{
    padding: 100px 200px;
}
.goals p{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    color: #313130 ;
}

.goals h1{
    font-size: 45px;
}
.goals li{
    font-size: 16px;
    font-weight: 500;
    color: #313130 ;

}
.subcontainer{
    display: flex;
    justify-content: space-evenly;
}
.counsellor{
    padding: 100px 150px;
    background-color: rgb(255, 255, 255);

}
.img2 img{
    height: 300px;
    width: 300px;
}
.subcontainer .data{
    margin-right: 50px;
}
.img2{
    margin-top: 50px;
}
.counsellor h4{
    font-size: 25px;
    margin: 0;

}
.counsellor h1{
    font-size: 45px;
    margin: 0;
}
.counsellor p{
    font-size: 16px;
    margin: 0;
    color: #313130 ;

}
.counsellor .steps{
    margin-top: 30px;
    padding-right: 250px;
}
.experts{
    display: flex;
    justify-content: space-evenly;
    padding: 80px 80px;
}
.experts img{
    height: 250px;
    width: 250px;
}
.experts .data{
    width: 50%;
}
.experts .data p{
    padding-right: 15px;
}
.experts .data h1{
    font-size: 45px;
}
.experts .img3{
    margin-top: 20px;
}
.experts .data p{
    font-size: 16px;
    color: #313130 ;


}
@media (max-width: 1250px){
    .counsellor .steps{
        padding-right: 150px;
    }

}
@media (max-width: 1140px){
    .counsellor .steps{
        padding-right: 100px;
    }
    .counsellor{
        padding: 70px 100px;
    }
    .goals{
        padding: 70px 150px;

    }

}
@media (max-width: 1050px){
    .counsellor .steps{
        padding-right: 30px;
    }
    .experts{
        padding: 40px 50px;
    }

}
@media (max-width: 900px){
    .counsellor .subcontainer{
        display: flex;
        flex-direction: column;
    }
    .counsellor h1{
        text-align: center;
    }
    .subcontainer .data{
        margin-right: 0px;
    }
    .img2{
        display: flex;
        justify-content: center;
    }
    .experts{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .experts .data{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        }    
    .experts .img3{
        display: flex;
        justify-content: center;
    }
    .goals{
        padding: 70px 100px;

    }
    .goals h1{
        text-align: center;
    }


}
@media (max-width: 550px){
    .counsellor{
        padding: 70px 40px;
    }
    .goals{
        padding: 70px 50px;

    }
}
@media (max-width: 400px){
    .counsellor{
        padding: 70px 20px;
    }
    .counsellor  h1{
        font-size: 30px;
    }
    .counsellor h4{
        font-size: 25px;
    }
    .experts .data h1{
        font-size: 30px;
    }
    .goals h1{
        font-size: 30px;
    }
    .experts{
        padding: 80px 20px;
    }
    .counsellor{
        padding: 70px 20px;
    }
    .goals{
        padding: 70px 20px;

    }
}